<app-topbar></app-topbar>
<div class="recover-password-container">
    <div class="recover-password-left">
      <h1>
        <span class="icon">🔒</span> ¿Olvidaste tu <span class="highlight">contraseña</span>?
      </h1>
    </div>
    <div class="recover-password-right">
      <h2><span class="icon">📧</span> Ingresa tu correo electrónico</h2>
      <p>Te enviaremos un enlace con instrucciones para restablecer tu contraseña.</p>
  
      <form (ngSubmit)="onSubmit()">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Ingresa tu correo electrónico">

        <a>
          ¿Recordaste tu contraseña? <a class="login-link" (click)="goToLogin()">Inicia sesión aquí</a>
        </a>

        <button type="submit" class="btn-recover" [disabled]="loading">
          {{ loading ? 'Enviando...' : 'Recuperar Contraseña' }}
        </button>
      </form>
    </div>
  </div>
<app-footer></app-footer>