<app-topbar></app-topbar>
<div class="verification-complete">
    <div class="icon">
      <span class="emoji">🎉</span>
    </div>
    <h1>¡Registro <span class="highlight">Exitoso</span>!</h1>
    <p>
      <span class="emoji">🎯</span> Ahora puedes acceder a todas las funciones de la plataforma y comenzar a reportar
      incidentes o explorar los reportes de tu comunidad.
    </p>
    <button class="btn-primary" (click)="navigateToLogin()">Inicia Sesión Ahora</button>
</div>
<app-footer></app-footer>