<div class="full-width-container">
    <div class="stadistics-container">
      <!-- Sección del título -->
      <div class="title-section">
        <h2>Impacto en <span class="highlight">Números</span></h2>
        <p>Descubre el alcance de SeguRed en la mejora de la seguridad ciudadana y el bienestar comunitario:</p>
      </div>
  
      <!-- Sección de estadísticas -->
      <div class="stats-section">
        
        <!-- Primera fila de estadísticas -->
        <div class="stat-row">
          <div class="stat-item">
            <img src="Icon.png" alt="Miembros Registrados">
            <div class="stat-text">
              <p class="stat-number">2,245,341</p>
              <p class="stat-label">Miembros Registrados</p>
            </div>
          </div>
        </div>
  
        <!-- Segunda fila de estadísticas -->
        <div class="stat-row">
          <div class="stat-item">
            <img src="alert.png" alt="Reportes generados">
            <div class="stat-text">
              <p class="stat-number">832,171</p>
              <p class="stat-label">Reportes generados</p>
            </div>
          </div>
  
          <div class="stat-item">
            <img src="comunity.png" alt="Miembros Registrados">
            <div class="stat-text">
              <p class="stat-number">135</p>
              <p class="stat-label">Municipios Actívos</p>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  