.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440;
  height: 100%;
  margin-top: 40px;
  top: 84px;
}

.logo-list-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Evita que los logos se vayan a otra línea */
  width: 100%;
  padding: 0 50px; /* Ajusta el padding si es necesario*/
  height: 98;
  justify-content: space-between;
  
}


.logo-list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1110px;
}
.long-logo {
  max-width: 350px !important; /* Aumenta el tamaño */
  height: auto;
}

.alcaldia-logo {
  max-width: 350px !important; /* Ajusta el tamaño para la Alcaldía */
  height: auto;
}

.logo-list-title {
  align-self: stretch;
  color: #4D4D4D;
  font-size: 2.25rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-weight: 600;
}

.logo-list-description {
  align-self: stretch;
  color: #717171;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.logo-list-svg {
  width: auto; /* Permitir que crezca */
  height: auto;
  max-width: none;
}
.logo-image {
  max-width: 150px; /* Ajusta el tamaño */
  height: auto;
  margin: 0 30px; /* Espaciado entre los logos */
  -webkit-user-drag: none;
  pointer-events: none;
}
.logo-image:nth-child(1), /* Policía */
.logo-image:nth-child(2), /* Cruz Roja */
.logo-image:nth-child(3)  /* Bomberos */ {
  margin-right: 30px; /* Espacio extra */
}
.logo-slider {
  overflow: hidden;
  width: 100%;
  background: white;
  padding: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
  animation: scroll 35s linear infinite;
  width: max-content; /* Se ajusta al contenido total */
}

/* Logos */
.logo-image {
  max-height: 100px;
  object-fit: contain;
  margin: 0 20px;
}

/* Animación sin cortes */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
