* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #f8f9fa;
    height: 25rem;
    margin-top: 4rem;
    width: 100%;
}

.image {
    width: 500px;
    margin-right: 30px;
    -webkit-user-drag: none;
    pointer-events: none;
}

.text-content {
    max-width: 40vw;
}

.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0%;
    color: #4D4D4D;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3vw;
    color: #717171;
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #218838;
}

/* Estilos para pantallas móviles (ancho máximo de 768px, que suele ser un estándar para tablets y móviles) */
@media (max-width: 768px) {
    .content-container {
        /* Cambiamos la dirección del flex para que los elementos se apilen verticalmente */
        flex-direction: column;
        align-items: center; /* Centramos los elementos horizontalmente */
        text-align: center; /* Centramos el texto dentro del contenedor en móviles */
        height: auto; /* Ajustamos la altura automáticamente al contenido */
        padding: 20px; /* Reducimos el padding para pantallas más pequeñas */
    }

    .image {
        width: 90%; /* La imagen ocupa un mayor ancho en móviles */
        margin-right: 0; /* Eliminamos el margen derecho */
        margin-bottom: 20px; /* Añadimos un margen inferior para separar la imagen del texto */
    }

    .text-content {
        max-width: 90%; /* El texto ocupa un mayor ancho en móviles */
    }

    .title {
        font-size: 28px; /* Reducimos el tamaño del título */
        line-height: 34px;
    }

    .description {
        font-size: 18px; /* Reducimos el tamaño de la descripción */
        line-height: 1.5;
    }
}