<div class="content-container">
    <img src="img2.svg" alt="Ilustración de acceso" class="image">
    <div class="text-content">
        <h2 class="title">Acceso Rápido y Seguro</h2>
        <p class="description">
            Inicia sesión con tu correo y contraseña para reportar incidentes, recibir notificaciones en tiempo real y mantenerte informado sobre la seguridad en tu comunidad. 
            Además, puedes interactuar con otros usuarios y contribuir a un entorno más seguro.
        </p>
        <button (click)="goToLogin()" class="btn">Inciar Sesión</button>
    </div>
</div>
