<nav class="topbar" [ngClass]="{ 'hidden': isNavbarHidden }">
    <div class="container">
        <!-- Logo con enlace a la Home -->
        <a class="navbar-brand" (click)="goToHome()">
            <img src="Logo.svg" alt="SeguRed" class="logo">
            <span class="brand-name">SeguRed</span>
        </a>

        <!-- Menú de navegación -->
        <div class="nav-center">
            <ul class="nav-menu">
                <li><a (click)="goToHome()" routerLink="/">Inicio</a></li>
                <li><a routerLink="/comunidad">Comunidad</a></li>
                <li><a routerLink="/contacto">Contacto</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
            </ul>
        </div>

        <!-- Botones de usuario -->
        <div class="user-actions">
            <a (click)="goToLogin()" class="login-btn">Iniciar Sesión</a>
            <a (click)="goToRegister()" class="btn">Registrarse</a>
            <a (click)="goToMapbox()" class="mapa">Mapa</a>

        </div>
    </div>
</nav>
