<div class="container welcome">
  <div class="row">
    <div class="col-md-6 text-left">
      <p class="text">
        Conectados por la seguridad, 
        <span class="highlight">unidos por la comunidad.</span>
      </p>
      <p class="subtext">
        Reporta incidentes en tu ciudad y mantente informado en tiempo real
      </p>
      <button class="btn btn-success">Registrarse</button>
    </div>
    <div class="col-md-6">
      <img src="img1.svg" alt="Ilustración" class="img-fluid illustration" style="margin-left: 200px;">
    </div>
  </div>
</div>
